body {
  background-color: white;
}

img {
  max-width: 80%;
}

main, body, header {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  background-color: black;
  height: 280px;
  width: 100%;
  border: 10px solid black;
  background: url(images/logotitle.png);
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1px;
  text-align: center;
  box-sizing: border-box;
}

.marquee {
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.top {
  max-width: 800px;
  width: 100%;
  /* border-bottom: 10px; */
  display: inline-block;
}

.text {
  border-radius: 5px;
  width: 45%;
  background-color: black;
  border: 40px solid black;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* display: inline-block; */d
  max-width: 360px;
  box-sizing: border-box;
  float: left;
  height: 342px;
}

.webcam-container {
  height: 342px;
  border-radius: 5px;
  width: 45%;
  max-width: 360px;
  background-color: black;
  /* border: 40px solid black; */
  /* padding: 40px; */
  /* display: inline-block; */
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
  float: right;
}

.bottom {
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
  /* border-top: 10px; */
  margin-bottom: 100px;
  display: inline-block;
}

.radiobuttons {
  border-radius: 5px;
  background-color: black;
  border: 40px solid black;
  max-width: 360px;
  width: 45%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  float: left;
}

.startstop {
  width: 45%;
  /* display: inline-block; */
  /* max-width: 360px; */
  float: right;
}

.buttons {
  width:100%;
  /* display: block; */
  background-color: black;
  border-radius: 5px;
  /* border:12px solid black; */
  /* display:inline-block; */
  cursor:pointer;
  color: white;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  /* padding:18px 39px; */
  text-decoration:none;
  /* text-shadow:4px 6px 5px black; */
  padding: 40px;
  text-align: center;
  /* border: 30px solid black; */
  box-sizing: border-box;
  margin-bottom: 30px;
  /* max-width: 300px; */
  /* margin: 5px; */
  /* position: relative; */
  /* right:6%; */
  /* left: 45%; */
  /* right: -400px; */
  /* top: -200px; */
}

.buttons:hover {
  background: url(images/newheader.jpg);
}
/* .buttons:active {
  position:relative;
  top:1px;
} */
